.innerContainer{
    display: flex;
    width: 300%;
    height: 300%;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.canvasContainer {
     border: 1px solid black;
     overflow: hidden;
     touch-action: none;

}

.header{
    font-family: "press-start";
}

.canvasHeader{
    font-family: "press-start";
    font-size: 200px !important; 
}

.canvasInformationContainer{

}
.canvasInformationHeaader{

}
.canvasInformationItem{
    
}

@font-face {
    font-family: "press-start";
    src: url("../../../../public/PressStart2P-Regular.ttf") format("truetype");
}